.brandname{
width: 1440px;
height: 1132px;
padding: 0px 59px 0px 59px;
gap: 40px;
opacity: 0px;
background: #FFDCD1;
float: left;

}

.button {
width: 170px;
height: 50px;
background: #23A6F0;
font-size: 30px;
left: 100000px;
/* text-align: left; */
/* left: 2000px; */
}
.bir{
    left: 200px;
    bottom: 300px;
}